.spell-list {
    min-height: calc(100vh - 60px);
    width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Serif', sans-serif;
    list-style-type: none;
  
    .spell-category {
        margin-bottom: 20px;
  
        .category-button {
            background-color: #8A0000;
            color: white;
            padding: 0.5rem;
            font-size: 24px;
            border: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
        }
  
      .spell-items {
            margin: 0;
            padding: 0;
            list-style-type: none;
  
            .spell-item {
                margin-bottom: 10px;
                border-bottom: 1px solid #ccc;
  
                .item-button {
                    font-size: 20px;
                    font-weight: bold;
                    color: #004400;
                    background-color: #F0EAD6;
                    margin: 10px 0;
                    padding: 10px;
                    border: 1px solid #8A0000;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                }
        
                .spell-details {
                    padding: 10px;
                    margin-top: 5px;
                    border-left: 8px solid #8A0000;
                    background-color: #F0EAD6;
                    border-radius: 5px;

                    .spell-carac {
                        display:flex;
                        align-items: center;

                        strong {
                            margin-right: 10px;
                        }
                    }

                    .saves {
                        margin: 10px 0;
                        border-top: 1px solid #004400;
                        border-bottom: 1px solid #004400;

                        .sav-result {
                            margin-top: 5px;
                            display:flex;
                            align-items: center;

                            strong {
                                margin-right: 10px;
                            }
                        }
                    }

                    p {
                        margin: 5px 0;
                        line-height: 1.4;
                    }

                    .add-button {
                        border-radius: 5px solid #8A0000;
                        margin: 5px 0;
                        padding: 10px;
                        background-color: #8A0000;
                        color: white;
                        cursor: pointer;
                        font-size: 15px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    }

                    .add-button:hover{
                        color: black;
                    }
                }

                .item-button:hover {
                    color: black;
                }
            }
        }

        .category-button:hover {
            color: black;
        }
    }
}